@page "/"

<h1>Blazor App-Ideas</h1>
<h3>Converters</h3>

<p>This sample application implements the converters app types from the <a href="https://github.com/florinpop17/app-ideas" target="_blank">app-ideas project</a>.</p>
