@page "/"

<h1>Blazor App-Ideas</h1>
<h3>Converters</h3>

<p>This sample application implements the converters app types from the <a href="https://github.com/florinpop17/app-ideas" target="_blank">app-ideas project</a>.</p>

<div class="row mt-2">
    <Card ImageCssName="oi oi-arrow-bottom" Title="Bin2Dec" NavigationLink="./bin2dec">
        An example of a binary to decimal converter app.
    </Card>

    <Card ImageCssName="oi-move" Title="Roman2Dec" NavigationLink="./rom2dec">
        An app that converts roman numeral notation to the equivalen decimal value.
    </Card>

    <Card ImageCssName="oi-loop-circular" Title="Ultra Number Converter" NavigationLink="./number-converter">
        This app converts numeric values between any two number systems.
    </Card>

    <Card ImageCssName="oi-dollar" Title="Dollar2Cents" NavigationLink="./dol2cent">
        Convert a textual representation of a dollar amount into the coins required for that amount.
    </Card>

    <Card ImageCssName="oi-euro" Title="Currency Converter" NavigationLink="./currency-convert">
        Converts monetary amounts between two different currencies using a web service.
    </Card>

    <Card ImageCssName="oi-text" Title="JSON-CSV Converter" NavigationLink="./json-csv-convert">
        App that converts between JSON-CSV formats and converts back.
    </Card>
</div>
